.basic-example {
  &__wrapper {
    width: 50%;
    max-width: 450px;
    height: 450px;
    margin: 0 auto;
    margin-top: 3rem;

    .x-carousel__slide {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2rem;
      color: white;

      &:nth-child(9n + 1) {
        background: hsla(0, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 2) {
        background: hsla(40, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 3) {
        background: hsla(80, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 4) {
        background: hsla(120, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 5) {
        background: hsla(160, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 6) {
        background: hsla(200, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 7) {
        background: hsla(240, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 8) {
        background: hsla(280, 100%, 50%, 0.8);
      }

      &:nth-child(9n + 0) {
        background: hsla(320, 100%, 50%, 0.8);
      }
    }

    .x-scene-lcontrol,
    .x-scene-rcontrol {
      cursor: pointer;
    }
  }
}
