.element {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #c8c8c8;
  position: relative;

  &__number {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5rem;
    font-size: 1.5rem;
  }

  &__symbol {
    font-size: 3rem;
  }

  &__mass {
    position: absolute;
    bottom: 0;
    padding: 1rem;
  }
}
